{% extends "base.html" %}

{% block app_content %}
    <p>New user: <a href="{{ url_for('register') }}">Sign Up</a></p>
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        <!-- generate a 'hidden field' that includes a token to prevent CSRF attacks:-->
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>
        Forgot Password?
        <a href="{{ url_for('reset_password_request') }}">Reset Password</a>
    </p>
{% endblock %}
